@import url('styles/components.css');
@import url('styles/rwd.css');

:root {
  --blue: #45c9f5;
  --dark-blue: #024873;
  --black: #2f2f2f;
  --white: #ffffff;
  --red: #d9042b;
}

* {
  box-sizing: border-box;
  font-family: 'Arial Narrow', sans-serif;
  font-weight: bold;
  color: var(--black);
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--blue);
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

