* {
  box-sizing: border-box;
  font-family: 'Arial Narrow', sans-serif;
  font-weight: bold;
  color: #2f2f2f;
}

body {
  margin: 0;
  padding: 0;
  background-color: #45c9f5;
}

.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-message {
  color: #fff;
  min-height: 40px;
}

.form {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 2%;
  background: #fff;
  border-radius: 15px;
}

.form > * {
  margin-bottom: 2%;
}

.form > *:first-child {
  margin-bottom: 10%;
}

.form > *:last-child {
  margin-top: 10%;
}

.form__header {
  margin: 0;
  font-size: 2rem;
  text-align: center;
}

.input-clean {
  appearance: none;
  outline: none;
  border: none;
  background: inherit;
}

.text-field {
  min-height: 40px;
  display: flex;
  flex-direction: column;
}

.text-field__input {
  border-bottom: 3px solid #024873;
  padding: 2%;
}

.text-field__error--mesage {
  color: #d9042b;
  font-size: 0.5rem;
}

.submit-button {
  padding: 2%;
  background-color: #45c9f5;
  color: #fff;
}
